/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: rgb(40, 75, 172);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    color: #fff;
    border-radius: 40px;
  }
  
  nav a:hover {
    color: white;
    background-color: #02374e;
  }
  nav a:active {
    background-color: black;
  }